<div class="flexslider">
<ul class="slides">
<li><img src="img/home/slider.jpg" alt=""></li>
<li><img src="img/home/slider2.jpg" alt=""></li>
<li><img src="img/home/slider.jpg" alt=""></li>
<li><img src="img/home/slider.jpg" alt=""></li>
</ul>
</div>

<div class="concept">
<h1>concept</h1>	
<p>Natural Food Storeでは<br>
農薬や化学肥料を一切使わず<br>
有機栽培ではなく自然栽培をしています<br>
安心・安全な食にこだわり<br>
からだに優しい食材をお届けいたします</p>
</div>

<ul class="boxA">
<li><a href="html/shopping/vegetable_set.html"><img src="img/home/yasai.jpg" alt="旬野菜の詰め合わせ"><span class="name"><h1>大人気!<br>旬野菜の詰め合わせ<br><i class="fa fa-smile-o fa-2x"></i></h1></span></a></li>
<li><a href="html/shopping/ichigo.html"><img src="img/home/ichigo.jpg" alt="博多あまおう"><span class="name"><h1>甘くて<br>おいしい<br>あまおう?</h1></span></a></li>
<li><a href="html/shopping/nasu.html"><img src="img/home/nasu.jpg" alt="なす"><span class="name"><h1>ポリフェノール<br>たっぷりなす<br><i class="fa fa-smile-o fa-2x"></i></h1></span></a></li>
<li><a href="html/shopping/apple.html"><img src="img/home/apple.jpg" alt="ふじりんご"><span class="name"><h1>甘味と香りの<br>ふじりんご<br>?</h1></span></a></li>
<li><a href="html/shopping/poteto.html"><img src="img/home/poteto.jpg" alt="じゃがいも"><span class="name"><h1>新じゃがの<br>季節です<br><i class="fa fa-smile-o fa-2x"></i></h1></span></a></li>
<li><a href="html/shopping/tomato.html"><img src="img/home/tomato.jpg" height="300" width="300" alt=""><span class="name"><h1>糖度が高く<br>栄養価も高い<br>トマト?</h1></span></a></li>
<li><a href="html/shopping/natto.html"><img src="img/home/natto.jpg" alt="納豆"><span class="name"><h1>ごはんのお供<br>手作り納豆<br><i class="fa fa-smile-o fa-2x"></i></h1></span></a></li>
<li><a href="html/shopping/hinohikari_genmai.html"><img src="img/home/kamadaki.jpg" alt="釜炊き"><span class="name"><h1>釜焚きすれば<br>さらに美味しい<br>自然米?</h1></span></a></li>
<li><a href="html/shopping/umeboshi.html"><img src="img/home/umeboshi.jpg" alt="梅干し"><span class="name"><h1>丹精込めて<br>生梅から漬けてます<br><i class="fa fa-smile-o fa-2x"></i></h1></span></a></li>
<li><a href="html/shopping/egg.html"><img src="img/home/tamago.jpg" alt="たまご"><span class="name"><h1>栄養価の高い<br>自然たまご<br>?</h1></span></a></li>
<li><a href="html/shopping/aigamo_hakumai.html"><img src="img/home/kamo.jpg" alt="合鴨米（玄米）"><span class="name"><h1>定期購入者一番人気<br>アイガモ農法米<br><i class="fa fa-smile-o fa-2x"></i></h1></span></a></li>
<li><a href="html/shopping/peach.html"><img src="img/home/peach.jpg" alt="もも"><span class="name"><h1>果汁たっぷり<br>ジューシー<br>白鳳?</h1></span></a></li>
</ul>

<footer><p>Copyright&nbsp;&copy;&nbsp;Natural Food Store&nbsp;<i class="fa fa-shopping-basket"></i></p></footer>
