<div class="shopping">
<aside>
 <ul>
  <li><a href="hinohikari_hakumai.html">ひのひかり（白米）</a></li>
  <li><a href="hinohikari_genmai.html">ひのひかり（玄米）</a></li>
  <li><a href="aigamo_hakumai.html">合鴨米（白米）</a></li>
  <li><a href="aigamo_genmai.html">合鴨米（玄米）</a></li>
  <li><a href="umeboshi.html">南高うめぼし（減塩）</a></li>
  <li><a href="egg.html">自然たまご</a></li>
  <li><a href="natto.html">手作り納豆</a></li>
  <li><a href="vegetable_set.html">野菜セット</a></li>
  <li><a href="tomato.html">トマト</a></li>
  <li><a href="nasu.html">なす</a></li>
  <li><a href="ninjin.html">にんじん</a></li>
  <li><a href="poteto.html">じゃがいも</a></li>
  <li><a href="hourensou.html">ほうれんそう</a></li>
  <li><a href="satoimo.html">さといも</a></li>
  <li><a href="apple.html">りんご</a></li>
  <li><a href="peach.html">もも</a></li>
  <li><a href="nashi.html">なし</a></li>
  <li><a href="ichigo.html">いちご</a></li>
 </ul>
</aside>

<div class="product">
 <h1>熊本県産ひのひかり（白米）</h1>
 <!--<div class="product_photo"><img src="../../img/shopping/rice/hakumai.jpg" alt="ひのひかり（白米）"></div>-->
 <div class="product_photo"><%= image_tag 'shopping/rice/hakumai.jpg' , :alt => 'ひのひかり（白米）' %></div>
 <p>５年以上にわたって、無肥料・無農薬を継続している田んぼから収穫された完全自然栽培米です。</p>

 <table>
  <thead>
    <tr><td>内容量</td><td>金額（税込）</td><td>購入数</td></tr>
  </thead>
  <tbody>
    <tr><td>5kg</td><td>¥3,980</td><td><input type="number" name="num" min="1"></td></tr>
    <tr><td>10kg</td><td>¥6,980</td><td><input type="number" name="num" min="1"></td></tr>
  </tbody>
 </table>

<div class="cart_btn">カートに入れる</div>
</div>
</div>

<footer><p>Copyright&nbsp;&copy;&nbsp;Natural Food Store&nbsp;<i class="fa fa-shopping-basket"></i></p></footer>



  
  
  
  
  
  
 
  
  