<!DOCTYPE HTML>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<meta name="description" content="">
<meta name="keywords" content=", , ">
<title>Natural Food Store</title>
<link rel="stylesheet" href="css/normalize.v3.0.2.css" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href="../../img/home/favicon.png" rel="icon"><!--32px×32px-->
<link rel="stylesheet" href="../../css/base.css" type="text/css">
<link rel="stylesheet" type="text/css" href="../../css/shopping.css">
<link rel="stylesheet" href="../../css/navigation.css">

<link href="../../css/sandbox.css" rel="stylesheet" type="text/css">
<link href="../../css/drawer.min.css" rel="stylesheet" type="text/css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.1.3/iscroll.min.js"></script>
<script src="https://cdn.rawgit.com/ungki/bootstrap.dropdown/3.3.5/dropdown.min.js"></script>



<script src="../../js/drawer.min.js"></script>
  <script>
    $(document).ready(function() {
      $('.drawer').drawer();
    });
</script>

<meta property="og:type" content="website">
<meta property="og:locale" content="ja_JP">
<meta property="og:title" content="">
<meta property="og:image" content="">
<meta property="og:description" content="">
<meta property="og:url" content="">
</head>
<body class="drawer drawer--right">

  <header role="banner">
    <button type="button" class="drawer-toggle drawer-hamburger">
      <span class="drawer-hamburger-icon"></span>
    </button>

    <nav class="drawer-nav" role="navigation">
      <ul class="drawer-menu">
        <li><a class="drawer-menu-brand" href="index.html"><i class="fa fa-home fa-2x"></i>&nbsp;ホーム</a></li>
        <li><a class="drawer-menu-item" href="#">ログイン</a></li>
        <li><a class="drawer-menu-item" href="#">カート</a></li>        
        <li class="drawer-dropdown">
          <a class="drawer-menu-item" data-target="#" href="#" data-toggle="dropdown" role="button" aria-expanded="false">お米<span class="drawer-caret"></span></a>
          <ul class="drawer-dropdown-menu">
            <li><a class="drawer-dropdown-menu-item" href="../../html/shopping/hinohikari_hakumai.html">ひのひかり（白米）</a></li>
            <li><a class="drawer-dropdown-menu-item" href="../../html/shopping/hinohikari_genmai.html">ひのひかり（玄米）</a></li>
            <li><a class="drawer-dropdown-menu-item" href="../../html/shopping/aigamo_hakumai.html">合鴨米（白米）</a></li>
            <li><a class="drawer-dropdown-menu-item" href="../../html/shopping/aigamo_genmai.html">合鴨米（玄米）</a></li>
          </ul>
        </li>

        <li class="drawer-dropdown">
          <a class="drawer-menu-item" data-target="#" href="#" data-toggle="dropdown" role="button" aria-expanded="false">ごはんのお供<span class="drawer-caret"></span></a>
          <ul class="drawer-dropdown-menu">
            <li><a class="drawer-dropdown-menu-item" href="../../html/shopping/umeboshi.html">うめぼし</a></li>
            <li><a class="drawer-dropdown-menu-item" href="../../html/shopping/egg.html">自然たまご</a></li>
            <li><a class="drawer-dropdown-menu-item" href="../../html/shopping/natto.html">手作り納豆</a></li>
          </ul>
        </li>  

        <li class="drawer-dropdown">
          <a class="drawer-menu-item" data-target="#" href="#" data-toggle="dropdown" role="button" aria-expanded="false">野菜<span class="drawer-caret"></span></a>
          <ul class="drawer-dropdown-menu">
            <li><a class="drawer-dropdown-menu-item" href="../../html/shopping/vegetable_set.html">野菜セット</a></li>
            <li><a class="drawer-dropdown-menu-item" href="../../html/shopping/tomato.html">トマト</a></li>
            <li><a class="drawer-dropdown-menu-item" href="../../html/shopping/nasu.html">なす</a></li>
            <li><a class="drawer-dropdown-menu-item" href="../../html/shopping/ninjin.html">にんじん</a></li>
            <li><a class="drawer-dropdown-menu-item" href="../../html/shopping/poteto.html">じゃがいも</a></li>
            <li><a class="drawer-dropdown-menu-item" href="../../html/shopping/hourensou.html">ほうれんそう</a></li>            
            <li><a class="drawer-dropdown-menu-item" href="../../html/shopping/satoimo.html">さといも</a></li> 
          </ul>
        </li> 

        <li class="drawer-dropdown">
          <a class="drawer-menu-item" data-target="#" href="#" data-toggle="dropdown" role="button" aria-expanded="false">ごはんのお供<span class="drawer-caret"></span></a>
          <ul class="drawer-dropdown-menu">
            <li><a class="drawer-dropdown-menu-item" href="../../html/shopping/apple.html">りんご</a></li>
            <li><a class="drawer-dropdown-menu-item" href="../../html/shopping/peach.html">もも</a></li>
            <li><a class="drawer-dropdown-menu-item" href="../../html/shopping/nashi.html">なし</a></li>
            <li><a class="drawer-dropdown-menu-item" href="../../html/shopping/ichigo.html">いちご</a></li>            
          </ul>
        </li> 
        <li class="drawer-dropdown">
          <a class="drawer-menu-item" data-target="#" href="#" data-toggle="dropdown" role="button" aria-expanded="false">SNS<span class="drawer-caret"></span></a>
          <ul class="drawer-dropdown-menu">
            <li><a class="drawer-dropdown-menu-item" href="https://www.instagram.com/">instagram</a></li>
            <li><a class="drawer-dropdown-menu-item" href="https://ja-jp.facebook.com/">facebook</a></li>
            <li><a class="drawer-dropdown-menu-item" href="https://twitter.com/?lang=ja">twitter</a></li> 
            <li><a class="drawer-dropdown-menu-item" href="../../html/blog.html">blog</a></li>                      
          </ul>
        </li>   
      <ul class="drawer-menu">
        <li><a class="drawer-menu-item" href="../../html/guide.html">ガイド</a></li>
        <li><a class="drawer-menu-item" href="../../html/contact.html">コンタクト</a></li>
        <li><a class="drawer-menu-item" href="../../html/about_us.html">会社概要</a></li>                  
          </ul>
        </li>
      </ul>
    </nav>
  </header>
<meta property="og:type" content="website">
<meta property="og:locale" content="ja_JP">
<meta property="og:title" content="">
<meta property="og:image" content="">
<meta property="og:description" content="">
<meta property="og:url" content="">
</head>
<body>

<div class="header_left">
<h1><a href="../../index.html">Natural Food Store</a></h1>
<div class="icon_header">
<ul>
  <div class="login"><li><a href="#"><i class="fa fa fa-sign-in fa-2x"></i>&nbsp;ログイン</a></li></div>
  <div class="cart"><li><a href="#"><i class="fa fa-shopping-cart fa-2x"></i>&nbsp;カート</a></li></div>
  <div class="instagram"><li><a href="https://www.instagram.com/"><i class="fa fa-instagram fa-2x"></i></a></li></div>
  <div class="facebook"><li><a href="https://ja-jp.facebook.com/"><i class="fa fa-facebook-official fa-2x"></i></a></li></div>
  <div class="twitter"><li><a href="https://twitter.com/?lang=ja"><i class="fa fa-twitter fa-2x"></i></a></li></div>
</ul>
</div>
</div>

<div class="nav_box">
<nav>
<ul>
<div class="home"><li><a href="../../index.html"><span class="en">* home</span><br><span class="ja">ホーム</span></a></li></div>
<div class="blog"><li><a href="../blog.html"><span class="en">* blog</span><br><span class="ja">ブログ</span></a></li></div>
<div class="shopping"><li><a href="#"><span class="en">* shopping</span><br><span class="ja">お買い物</span></a></li></div>
<div class="guide"><li><a href="../guide.html"><span class="en">* guide</span><br><span class="ja">ガイド</span></a></li></div>
<div class="contact"><li><a href="../contact.html"><span class="en">* contact</span><br><span class="ja">お問い合わせ</span></a></li></div>
<div class="about_us"><li><a href="../about_us.html"><span class="en">* about us</span><br><span class="ja">会社概要</span></a></li></div>
</ul>
</nav>
</div>

<div class="shopping">
<aside>
 <ul>
  <li><a href="hinohikari_hakumai.html">ひのひかり（白米）</a></li>
  <li><a href="hinohikari_genmai.html">ひのひかり（玄米）</a></li>
  <li><a href="aigamo_hakumai.html">合鴨米（白米）</a></li>
  <li><a href="aigamo_genmai.html">合鴨米（玄米）</a></li>
  <li><a href="umeboshi.html">南高うめぼし（減塩）</a></li>
  <li><a href="egg.html">自然たまご</a></li>
  <li><a href="natto.html">手作り納豆</a></li>
  <li><a href="vegetable_set.html">野菜セット</a></li>
  <li><a href="tomato.html">トマト</a></li>
  <li><a href="nasu.html">なす</a></li>
  <li><a href="ninjin.html">にんじん</a></li>
  <li><a href="poteto.html">じゃがいも</a></li>
  <li><a href="hourensou.html">ほうれんそう</a></li>
  <li><a href="satoimo.html">さといも</a></li>
  <li><a href="apple.html">りんご</a></li>
  <li><a href="peach.html">もも</a></li>
  <li><a href="nashi.html">なし</a></li>
  <li><a href="ichigo.html">いちご</a></li>
 </ul>
</aside>

<div class="product">
 <h1>佐賀県産&nbsp;ほうれんそう</h1>
 <div class="product_photo"><img src="../../img/shopping/vegetable/hourensou.jpg" alt="ほうれんそう"></div>

 <table>
  <thead>
    <tr><td>内容量</td><td>金額（税込）</td><td>購入数</td></tr>
  </thead>
  <tbody>
   <tr><td>1束</td><td>¥250</td><td><input type="number" name="num" min="1"></td></tr>
    <tr><td>10束</td><td>¥2,100</td><td><input type="number" name="num" min="1"></td></tr>
  </tbody>
 </table>

<div class="cart_btn">カートに入れる</div> 
</div>
</div>

<footer><p>Copyright&nbsp;&copy;&nbsp;Natural Food Store&nbsp;<i class="fa fa-shopping-basket"></i></p></footer>

</body>
</html>


  
  
  
  
  
  
 
  
  