<header role="banner">
    <button type="button" class="drawer-toggle drawer-hamburger">
      <span class="drawer-hamburger-icon"></span>
    </button>

    <nav class="drawer-nav" role="navigation">
      <ul class="drawer-menu">
        <li><a class="drawer-menu-brand" href="index.html"><i class="fa fa-home fa-2x"></i>&nbsp;ホーム</a></li>
        <li><a class="drawer-menu-item" href="#">ログイン</a></li>
        <li><a class="drawer-menu-item" href="#">カート</a></li>        
        <li class="drawer-dropdown">
          <a class="drawer-menu-item" data-target="#" href="#" data-toggle="dropdown" role="button" aria-expanded="false">お米<span class="drawer-caret"></span></a>
          <ul class="drawer-dropdown-menu">
            <li><a class="drawer-dropdown-menu-item" href="html/shopping/hinohikari_hakumai.html">ひのひかり（白米）</a></li>
            <li><a class="drawer-dropdown-menu-item" href="html/shopping/hinohikari_genmai.html">ひのひかり（玄米）</a></li>
            <li><a class="drawer-dropdown-menu-item" href="html/shopping/aigamo_hakumai.html">合鴨米（白米）</a></li>
            <li><a class="drawer-dropdown-menu-item" href="html/shopping/aigamo_genmai.html">合鴨米（玄米）</a></li>
          </ul>
        </li>

        <li class="drawer-dropdown">
          <a class="drawer-menu-item" data-target="#" href="#" data-toggle="dropdown" role="button" aria-expanded="false">ごはんのお供<span class="drawer-caret"></span></a>
          <ul class="drawer-dropdown-menu">
            <li><a class="drawer-dropdown-menu-item" href="html/shopping/umeboshi.html">うめぼし</a></li>
            <li><a class="drawer-dropdown-menu-item" href="html/shopping/egg.html">自然たまご</a></li>
            <li><a class="drawer-dropdown-menu-item" href="html/shopping/natto.html">手作り納豆</a></li>
          </ul>
        </li>  

        <li class="drawer-dropdown">
          <a class="drawer-menu-item" data-target="#" href="#" data-toggle="dropdown" role="button" aria-expanded="false">野菜<span class="drawer-caret"></span></a>
          <ul class="drawer-dropdown-menu">
            <li><a class="drawer-dropdown-menu-item" href="html/shopping/vegetable_set.html">野菜セット</a></li>
            <li><a class="drawer-dropdown-menu-item" href="html/shopping/tomato.html">トマト</a></li>
            <li><a class="drawer-dropdown-menu-item" href="html/shopping/nasu.html">なす</a></li>
            <li><a class="drawer-dropdown-menu-item" href="html/shopping/ninjin.html">にんじん</a></li>
            <li><a class="drawer-dropdown-menu-item" href="html/shopping/poteto.html">じゃがいも</a></li>
            <li><a class="drawer-dropdown-menu-item" href="html/shopping/hourensou.html">ほうれんそう</a></li>            
            <li><a class="drawer-dropdown-menu-item" href="html/shopping/satoimo.html">さといも</a></li> 
          </ul>
        </li> 

        <li class="drawer-dropdown">
          <a class="drawer-menu-item" data-target="#" href="#" data-toggle="dropdown" role="button" aria-expanded="false">ごはんのお供<span class="drawer-caret"></span></a>
          <ul class="drawer-dropdown-menu">
            <li><a class="drawer-dropdown-menu-item" href="html/shopping/apple.html">りんご</a></li>
            <li><a class="drawer-dropdown-menu-item" href="html/shopping/peach.html">もも</a></li>
            <li><a class="drawer-dropdown-menu-item" href="html/shopping/nashi.html">なし</a></li>
            <li><a class="drawer-dropdown-menu-item" href="html/shopping/ichigo.html">いちご</a></li>            
          </ul>
        </li> 
        <li class="drawer-dropdown">
          <a class="drawer-menu-item" data-target="#" href="#" data-toggle="dropdown" role="button" aria-expanded="false">SNS<span class="drawer-caret"></span></a>
          <ul class="drawer-dropdown-menu">
            <li><a class="drawer-dropdown-menu-item" href="https://www.instagram.com/">instagram</a></li>
            <li><a class="drawer-dropdown-menu-item" href="https://ja-jp.facebook.com/">facebook</a></li>
            <li><a class="drawer-dropdown-menu-item" href="https://twitter.com/?lang=ja">twitter</a></li> 
            <li><a class="drawer-dropdown-menu-item" href="html/blog.html">blog</a></li>                      
          </ul>
        </li>   
      <ul class="drawer-menu">
        <li><a class="drawer-menu-item" href="html/guide.html">ガイド</a></li>
        <li><a class="drawer-menu-item" href="html/contact.html">コンタクト</a></li>
        <li><a class="drawer-menu-item" href="html/about_us.html">会社概要</a></li>                  
          </ul>
        </li>
      </ul>
    </nav>
</header>

<div class="header_left">
<h1><a href="index.html">Natural Food Store（無農薬食品店）</a></h1>
<div class="icon_header">
<ul>
  <div class="login"><li><a href="#"><i class="fa fa fa-sign-in fa-2x"></i>&nbsp;ログイン</a></li></div>
  <div class="cart"><li><a href="#"><i class="fa fa-shopping-cart fa-2x"></i>&nbsp;カート</a></li></div>
  <div class="instagram"><li><a href="https://www.instagram.com/"><i class="fa fa-instagram fa-2x"></i></a></li></div>
  <div class="facebook"><li><a href="https://ja-jp.facebook.com/"><i class="fa fa-facebook-official fa-2x"></i></a></li></div>
  <div class="twitter"><li><a href="https://twitter.com/?lang=ja"><i class="fa fa-twitter fa-2x"></i></a></li></div>
</ul>
</div>
</div>

<div class="nav_box">
<ul>
<div class="home"><li><a href="index.html"><span class="en">* home</span><br><span class="ja">ホーム</span></a></li></div>
<div class="blog"><li><a href="html/blog.html"><span class="en">* blog</span><br><span class="ja">ブログ</span></a></li></div>
<!--<div class="shopping"><li><a href="html/shopping/hinohikari_hakumai.html"><span class="en">* shopping</span><br><span class="ja">お買い物</span></a></li></div>-->
<!--<div class="shopping"><li><%#= link_to 'お買い物', 'shopping/hinohikari_hakumai' %></li></div>-->
<%= link_to "shopping/hinohikari_hakumai" do %>
      <span class="en">* shopping</span><br><span class="ja">お買い物</span>
    <% end %>
<div class="guide"><li><a href="html/guide.html"><span class="en">* guide</span><br><span class="ja">ガイド</span></a></li></div>
<div class="contact"><li><a href="html/contact.html"><span class="en">* contact</span><br><span class="ja">お問い合わせ</span></a></li></div>
<div class="about_us"><li><a href="html/about_us.html"><span class="en">* about us</span><br><span class="ja">会社概要</span></a></li></div>
</ul>
</div>

<!--<%#= link_to image_tag('shopping/fruit/peach.jpg'), 'html/shopping/peach' , :alt => 'もも' %><span class="name"><h1>果汁たっぷり<br>ジューシー<br>白鳳?</h1></span></li>-->
<!--<%#= link_to 'Index Page', '/books/index' %>-->
<!--<a href="/books/index">Index Page</a>-->